body {
    background-image: url('../images/coalplant.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

body>* {
    flex-shrink: 0;
}

.footer {
    opacity: 0.8;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 60px;
    flex-shrink: 0;
}

.box {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    flex: 1 0 auto;
}