<footer class="footer">
    <div class="container">
         <span class="text-muted">🄯 <script>
                   new Date().getFullYear() > 2010 && document.write(new Date().getFullYear());
              </script> Green Lean Electrics Inc.</span>
    </div>
</footer>