<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Manager Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/slider.js"></script>  
    <script src="js/charts.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/manager.js"></script>
  </head>
 
  <body>
    <div class="container" id="navbar">      
      <h1><%= message %>'s Dashboard <span id="timestamp"></span></h1>
      <ul class="nav nav-tabs">
        <li class="nav-item" id="nav-monitor">
          <a class="nav-link active" >Monitor</a>
        </li>
        <li class="nav-item" id="nav-profile">
          <a class="nav-link" >Profile</a>
        </li>
      </ul>
      <br>
    </div>

    <div class="container" id="monitor"> 
      <div class="row">

        <div class="col-md" id="useBatteryRatio" style="width: 100%" display="table">
          <h2>Plant electricity settings</h2>
          
          <p>Buffer ratio</p>
          

          <p>Market price</p>
        


        </div>

        <div class="col-lg">
          <h2>Production</h2>
          <canvas id="chart"></canvas>
        </div>

      </div>

      <h2>Information</h2>
      <div class="row">
        <!-- Display wind, production etc. as values! -->  
        <div class="col-md">
          <ul>
            <li>Current electricity production:</li><span id="production"></span>
            <li>Current market demand:</li><span id="demand"></span>
            <li>Current modelled market price:</li><span id="price"></span>
          </ul>
        </div>

        <div class="col-md">
          <ul>
            <li><a href="#">Strandberg</a></li>
            <li><a href="#">Hakansson</a></li>
            <li><a href="#">...</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container" id="profile" style="display:none">
      <h2>Profile</h2>
      <button type="submit" class="btn btn-primary">Delete me!</button>

      <div class="row">

        <div class="col-md">
          <form id="update">
            <div class="form-group">
              <label for="oldPassword">Enter current password</label>
              <input type="password" class="form-control" name="oldPassword" placeholder="Current password">
            </div>
            
            <div class="form-group">
              <label for="newPassword">New password</label>
              <input type="password" class="form-control" name="newPassword" placeholder="Enter new password">

            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <span id="updateMessage"></span>
          </form>
        </div>

        <div class="col-sm">
          <div class = "img-thumbnail">
            <img src="" class="img-thumbnail" alt="Profile picture" id="profileImg">
          </div>
          <span id ="profileMessage"></span>
        </div>
      </div>  

    </div>
    <div class="container">
      <!-- Log out button -->
      <form action="/logout" method="get">
        <input type="submit" class="btn btn-primary" value="Log Out"/>
      </form>
    </div>


  </body>
</html>